@charset "UTF-8";
* {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd370;
}

a {
  text-decoration: none; /* 移除下劃線 */
  color: inherit; /* 繼承父元素的顏色，移除預設顏色 */
  outline: none; /* 移除焦點時的輪廓 */
}

input {
  outline: none;
}

.none {
  display: none;
}

.api-background {
  width: 100%;
  height: 100vh;
  background-color: #ffd370;
}

.login-section {
  margin: 0 auto;
  max-width: 793px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUp-section {
  margin: 0 auto;
  max-width: 793px;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.left-img {
  max-width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-img :first-child {
  width: auto;
  height: auto;
}
.left-img :last-child {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.origin-btn {
  display: block;
  border: 0;
  border-radius: 10px;
  padding: 12px 48px;
  background: #ffd370;
  color: black;
  margin: 0 auto;
  font-size: 16px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.btn-toggle-color {
  background: black;
  color: white;
}

.btn-hover:hover {
  text-decoration: underline;
  color: white;
}

.main {
  width: 304px;
  font-weight: 700;
}
.main h2 {
  padding-bottom: 24px;
}
.main label {
  padding-bottom: 4px;
  display: block;
}
.main input {
  display: block;
}

.primary-input {
  border: 0;
  border-radius: 10px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.input-pt input + label {
  padding-top: 16px;
}
.input-pt input + input {
  margin-top: 24px;
}

.todo-nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 34px;
}
.todo-nav div {
  display: flex;
  align-items: center;
}
.todo-nav div p + button {
  margin-left: 24px;
}

.todo-nav-text {
  font-size: 16px;
  font-weight: 700;
}

.todo-nav-btn {
  font-size: 16px;
  border: 0;
  background-color: transparent;
  transition: all 0.05s ease-out;
}
.todo-nav-btn:hover {
  text-decoration: underline;
  color: white;
}

.todo-main {
  margin: 40px auto;
  max-width: 500px;
}

.add-items {
  display: flex;
}
.add-items .add-items-input {
  width: 100%;
  border: 0;
  border-radius: 10px 0 0 10px;
  padding-left: 16px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.add-items div {
  background-color: white;
  padding: 4px;
  border-radius: 0 10px 10px 0;
}
.add-items div input {
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.add-items div input:active {
  background-color: black;
}

.list-tags {
  display: flex;
  visibility: hidden;
  margin-top: 16px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px 10px 0 0;
}
.list-tags .list-tag {
  flex-grow: 1;
  width: 100%;
  /* 當 .list-tag 具有 .list-active 時應用樣式 */
}
.list-tags .list-tag a {
  display: block;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  background-color: white;
  color: rgb(159, 154, 145);
  border-bottom: 3.5px solid rgb(229, 229, 229);
  font-weight: 700;
  transition: all 0.2s ease;
}
.list-tags .list-tag a:hover {
  border-bottom: 3.5px solid black;
  color: black;
}
.list-tags .list-tag:first-child a {
  border-radius: 10px 0 0 0;
}
.list-tags .list-tag:last-child a {
  border-radius: 0 10px 0 0;
}
.list-tags .list-tag.list-active a {
  border-bottom: 3.5px solid black;
  color: black;
}

.list-addcheck {
  color: rgb(159, 154, 145);
  text-decoration: line-through;
}

.render-List {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.render-List h2 {
  margin-top: 60px;
}

.list-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 32px 24px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
.list-footer a {
  color: rgb(159, 154, 145);
}

.todo-item {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.todo-item .todo-checkbox {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* 取消預設樣式 */
  cursor: pointer; /* 游標樣式 */
  margin-right: 16px;
  display: block;
  flex: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgb(159, 154, 145);
}
.todo-item .todo-checkbox:checked {
  background-color: none; /* 勾選後的背景顏色 */
  border: none; /* 勾選後的邊框顏色 */
}
.todo-item .todo-checkbox:checked::after {
  content: "✔"; /* Unicode 勾勾符号 */
  font-size: 18px;
  color: #ffd370;
  position: absolute;
  top: 0;
  left: 0;
}
.todo-item .todo-content {
  display: block;
  overflow: hidden;
}
.todo-item .delete-btn {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  color: transparent;
  transition: color 0.2s ease;
}
.todo-item .delete-btn:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login,
  .signUp {
    padding: 0 32px;
  }
  .left-img {
    max-width: 300px;
  }
}
@media screen and (max-width: 680px) {
  .login,
  .signUp {
    flex-direction: column;
  }
  .signUp-section,
  .login-section {
    justify-content: unset;
  }
  .left-img :first-child {
    padding-top: 48px;
    padding-bottom: 16px;
  }
  .left-img :last-child {
    display: none;
  }
  .main h2 {
    font-size: 20px;
    text-align: center;
  }
  .api-background {
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  .todo-main {
    padding: 0 32px;
  }
  .todo-nav-text {
    display: none;
  }
  .todo-nav div p + button {
    margin-left: 0px;
  }
  .todo-img {
    max-width: 245px;
  }
}/*# sourceMappingURL=style.css.map */